.wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  display: flex;
  border-top: 1px dotted var(--dotedBorder);
  border-bottom: 1px dotted var(--dotedBorder);
}

.wrapper::-webkit-scrollbar {
  display: none;
}

.button {
  padding: 7px 10px;
  margin: 7px 10px;
  border: none;
  background-color: var(--white);
  font-size: 1.2rem;
}
