.driverTabe {
   border-spacing: 0.5rem;
   border-collapse: collapse;
   margin: auto;
   width: 100%;
}

.tableBody > * + * {
  border-top: 1px solid var(--tableBorder);
}

.tabelRow td {
  padding: 10px 5px;
}

.champion {
  background-color: var(--championBG);
}
