.wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.wrapper::-webkit-scrollbar {
  display: none;
}

.button {
  padding: 15px 20px;
  border: none;
  background-color: #fff;
}
