.wrapper {
  height: 50px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.wrapper::-webkit-scrollbar {
  display: none;
}

.button {
  border: 1px solid red ;
  padding: 10px 15px;
  display: inline-block;
}
